@import "../Global";

.container-simple {
  line-height: 9px;
  margin-left: 32px;
  display: flex;
  width: 160px;
  height: 64px;
  border: 1px solid $color-green-light;
  border-radius: 8px;
  align-items: center;
  flex-direction: column;
  padding: 1px 1px 1px 1px;
}
.container-simple:focus {
  box-shadow: 0px 0px 10px 0px #7BF762;
}
