@import "../Global";

.container-detail {
  @extend .universal-container-inner;
  width: 160px;
  height: 192px;
  @extend .universal-border;
  line-height: 6px;
  position: relative;
}
.container-detail-sub {
  width: 100%;
  height: 65%;
  display:flex;
  flex-direction: column;
  background-color: $color-green-background;
  border-radius:8px;
  line-height: 16px;
}

.container-title-sub {
  width: 100%;
  height: 35%;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  box-sizing: border-box;
}

.container-detail-active {
  @extend .container-detail;
  @extend .universal-container-active;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  padding: 0 5%;
}

li {
  font-size: 12px;
  letter-spacing: .5px;
}

