@import "../Global";

.container-simple {
  line-height: 9px;
  margin-left: 32px;
  @extend .universal-container-inner;
  width: 160px;
  height: 64px;
  @extend .universal-border;
  padding: 1px 1px 1px 1px;
}

.container-simple-active {
  @extend .container-simple;
  box-shadow: 0px 0px 10px 0px #7bf762;
}
