@import "../Global";

.container-detail {
  margin-left: 32px;
  display: flex;
  width: 160px;
  height: 192px;
  @extend universal-border !optional;
  align-items: center;
  flex-direction: column;
  padding: 1px;
  line-height: 6px;
  position: relative;
}
.container-detail-sub {
  display: flex;
  width: 99%;
  height: 129px;
  border-radius: 8px;
  align-items: center;
  text-align: left;
  flex-direction: column;
  padding: 1px;
  background-color: $color-green-background;
  line-height: 16px;
  position: absolute;
  bottom: 0px;
}
.container-detail:hover {
  box-shadow: 0px 0px 10px 0px #7BF762;
}
ul{
  list-style-type: none;
  padding-inline-start: 0;
}
.feature {
  font-size: 12px;
}