@import "../Global";

.container-color {
  line-height: 1px;
  @extend .universal-container-inner;
  width: 160px;
  height: 112px;
  @extend .universal-border;
  padding: 1px;
}

.color-sample {
  width: 64px;
  height: 32px;
  border-radius: 8px;
}

.container-color-active {
  @extend .container-color;
  @extend .universal-container-active;
}
