@import "../Global";

.container-detail {
  margin-left: 32px;
  @extend .universal-container-inner;
  width: 160px;
  height: 192px;
  @extend .universal-border;
  padding: 1px;
  line-height: 6px;
  position: relative;
}
.container-detail-sub {
  @extend .universal-container-inner;
  width: 99%;
  height: 129px;
  border-radius: 8px;
  flex-direction: column;
  padding: 1px;
  background-color: $color-green-background;
  line-height: 16px;
  position: absolute;
  bottom: 0px;
}
.container-detail-active {
  @extend .container-detail;
  box-shadow: 0px 0px 10px 0px #7bf762;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
}
.feature {
  font-size: 12px;
}
