@import "../Global";

.container-price {
  padding-top: 5%;
  display: grid!important;
  grid-area: Check;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr;
  gap: 3% 0;
  justify-items: left;
  align-items: center;
  background-color: $color-green-background;
  @extend .universal-border;
  @extend .universal-container-inner;
  color: $color-green-light !important;
  box-sizing: border-box;
}

.container-price p {
  padding-left: 6.9% ;
  box-sizing: border-box;
  margin:0;
  letter-spacing: 2px;
}

.container-price p:nth-child(2n) {
  color: #FFF;
}

.container-price p:nth-last-of-type(-n+2) {
  border-top: 1px solid $color-green-light;
  width: 100%;
  justify-self: center;
  padding: 1rem 6.9%;
  font-size: 1.5rem;
}