@import "../Global";

.container-price {
  display: flex;
  width: 304px;
  height: 240px;
  border: 1px solid $color-green-light;
  border-radius: 8px;
  align-items: center;
  flex-direction: column;
  padding: 1px 1px 1px 1px;
  background-color: $color-green-background;
}
.container-price-sub {
  display: flex;
  width: 100%;
  height: 64px;
  border: 1px solid $color-green-light;
  border-radius: 0px 0px 8px 8px;
  align-items: center;
  flex-direction: column;
  padding: 1px 1px 1px 1px;
}
