@import "Global";
.App {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: $color-background-main;
  color: $color-green-light;
  font-family: "Roboto Mono", monospace;
}
.Window {
  margin-top: 32px;
  width: 944px;
  height: 848px;
  border: 1px solid $color-green-light;
  box-sizing: border-box;
  border-radius: 8px;
}
.selection {
  display: flex;
  flex-direction: row;
}

html {
  background-color: $color-background-main;
}

