@import url("https://fonts.google.com/specimen/Roboto+Mono");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");
$color-background-main: #051544;
$color-green-light: #7bf762;
$color-green-dark: #5a8f4f;
$color-green-background: #1c3c16;

body{
    font-size: 14px;
    font-family: "Roboto Mono", monospace;
}

.p-price {
    font-size: 12px;
}

.universal-border{
    border: 1px solid $color-green-light;
    border-radius: 8px;
}
