@import url("https://fonts.google.com/specimen/Roboto+Mono");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");
$color-background-main: #051544;
$color-green-light: #7bf762;
$color-green-dark: #5a8f4f;
$color-green-background: #1c3c16;
